.LineChartBody {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 15px 5px 15px;

  /* margin: 15px; */

  /* background-color: var(--bg-color3); */

  /* border: 1px solid rgba(98, 95, 244, 0.2);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2); */
}
.LineChartUpper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.LineChartName {
  font-size: 1.5rem;
  color: white;
  padding-bottom: 10px;
}
.LineChartDeltaLabel {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.LineChart {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  cursor: pointer;
}
.chart {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.noDataChart {
  opacity: 0.2;
  pointer-events: none;
}
.noDataLabel {
  font-size: 2rem;
  padding-bottom: 50px;
  color: rgba(87, 87, 87, 0.411);
  position: absolute;
  white-space: nowrap;
  top: 50%;
  user-select: none;
}

.positiveDelta {
  color: rgb(0, 170, 0);
}
.negativeDelta {
  color: rgb(197, 30, 0);
}
.neutralDelta {
  color: rgb(143, 143, 143);
}

.FunnelChartContainerOnly {
  position: relative;
  width: fit-content;
  height: 140px;
}

.filterWindow {
  padding: 15px;
}
.filterItem {
  display: flex;
  flex-direction: column;
}
.filterItemRow {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
