.LineChartBody {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;

  background-color: var(--bg-color3);
}
.LineChartBodyFullWidth {
  width: 100%;
}
.LineChartUpper {
  display: flex;
  flex-direction: row;
}
.LineChartName {
  font-size: 1.5rem;
  color: white;
  padding-bottom: 10px;
}
.LineChartDeltaLabel {
  font-size: 1.5rem;
  padding-bottom: 10px;
  margin-left: auto;
}
.LineChart {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chart {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.noDataChart {
  opacity: 0.2;
  pointer-events: none;
}
.noDataLabel {
  font-size: 2rem;
  padding-bottom: 50px;
  color: rgba(87, 87, 87, 0.411);
  position: absolute;
  user-select: none;
}

.positiveDelta {
  color: rgb(0, 170, 0);
}
.negativeDelta {
  color: rgb(197, 30, 0);
}
.neutralDelta {
  color: rgb(143, 143, 143);
}

.ChartContainerOnly {
  position: relative;
  width: 100%;
  height: 170px;
}

/* .mapChartBody {
    width: 800px;
    height: 350px;
    padding-left: 25px;
    background-color: var(--bg-color3);

    display: flex;
    flex-direction: column;
} */
