.upperbar {
    flex: 0 0 45px;
    width: 100%;
    background-color: var(--main-upperbar-bg-color);
    border-bottom: 1px solid #615ff449;

    display: flex;
    align-items: center;
    justify-content: end;
}
.collabUsers {
    display: flex;
    margin-right: auto;
    margin-left: 1.0rem;
}